.vm-image-list {
  .image-list-heading {
    .page {
      span {
        margin-right: 10px;
        &.margin-end {
          margin-right: 20px;
        }
      }
      .input-number {
        width: 40px;
        margin-right: 10px;
      }
    }
    .panel-body {
      margin-top: -15px;
      & > div {
        margin-top: 15px;
      }
    }
  }
  .total {
    margin-right: 15px;
  }
}


.vm-card-horizantal {
  overflow: hidden;
  position: relative;
  display: flex;
  padding: 0;
  .card-img {
    display: flex;
    align-items: center;
    width: 50%;
    img {
      display: block;
      margin: 0;
      width: 100%;
    }
    video{
      display: block;
      margin: 0;
      width: 100%;
    }
  }
  .card-desc {
    width: 50%;
    p {
      font-size: 14px;
      margin: 10px 0;
      text-align: justify;
    }
  }
}

.vm-card-vertical {
  .card-img {
    position: relative;
    img {
      display: block;
      width: 100%;
    }
    video{
      display: block;
      margin: 0;
      width: 100%;
    }
    .control {
      position: absolute;
      bottom: -20px;
      right: 15px;
      display: flex;
      span {
        display: flex;
        justify-content: center;
        margin-left: 10px;
        align-items: center;
        color: white;
        font-size: 18px;
        background-color: #41b883;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        &.edit {
          background-color: #1d8ce0;
          a {
            color: white;
          }
        }
        &.delete {
          background-color: #41b883;
        }
      }
    }
  }
  .card-desc {
    p {
      font-size: 14px;
      margin: 10px 0;
      text-align: justify;
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.vm-panel {
  background-color: white;
  text-align: left;
  border-radius: 4px;
  .panel-heading {
    text-align: left;
    width: 100%;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #eeeff1;
    padding: 15px;
    font-weight: bold;
  }
  .panel-body {
    padding: 15px;
    font-size: 14px;
  }
}

